# PostgreSQL — RDS connection string (set by Elastic Beanstalk environment)
DATABASE_URL=postgres://user:password@your-rds-endpoint.rds.amazonaws.com:5432/vademecum

# App
NODE_ENV=production
PORT=3000

# CORS — URL del frontend en Amplify
FRONTEND_URL=https://main.xxxxxxxxxx.amplifyapp.com
